#**BASIC QUESTIONS ON DATA TYPES AND STRUCTURES**

###Q1. What are data structures, and why are they important?
- **Definition:**  A data structure is a way of organizing and storing data in a computer so that it can be accessed and used efficiently. It refers to the logical or mathematical representation of data, as well as the implementation in a computer program.

  - **Importance:**

     - **Efficient Data Management:** Proper data structures allow for quick data retrieval and storage, which is crucial for performance. For instance, using a hash table can provide constant-time complexity for search operations.

     - **Algorithm Optimization:** The choice of data structure directly impacts the efficiency of algorithms. Selecting the appropriate structure can reduce time and space complexity, leading to faster and more resource-efficient programs.

     - **Real-World Problem Modeling:** Data structures help in modeling real-world scenarios effectively. For example, a queue data structure can represent a line of customers, ensuring first-come, first-served processing.

     - **Foundation for Advanced Topics:** Understanding data structures is fundamental for studying advanced computer science topics like databases, artificial intelligence, and machine learning, where data organization plays a pivotal role.


###Q2. Explain the difference between mutable and immutable data types with examplesp.
 - **Difference Between Mutable and Immutable Data Types:**

     In Python, mutable data types are the ones whose values can be changed after they are created. On the other hand, immutable data types cannot be changed once they are created. If you try to change them, a new object is created instead.

- **Examples:**

In [ ]:
# Mutable example: List
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the original list
print("Mutable (List):", my_list)

# Immutable example: String
my_str = "hello"
my_str = my_str + " world"  # Creates a new string
print("Immutable (String):", my_str)

Mutable (List): [1, 2, 3, 4]
Immutable (String): hello world

###Q3. What are the main differences between lists and tuples in Python?
 - **Main Differences Between Lists and Tuples in Python:**

     1. **Mutability:**

        - Lists are **mutable-** you can change, add, or remove items.

        - Tuples are **immutable-*** once created, their values cannot be changed.

     2. **Syntax:**

       - Lists use **square brackets:** [1, 2, 3]

       - Tuples use **parentheses:** (1, 2, 3)

     3. **Performance:**

       - Tuples are slightly **faster** and take up less memory because they don't change.

     4. **Use Case:**

      - Use a list when the data might change.

      - Use a tuple when the data should stay the same.

###Q4. Describe how dictionaries store data.
Dictionaries in Python store data using **key-value pairs**. Each key is unique and is used to access the value connected to it. This makes it easy to look up, add, or change values based on the key. Dictionaries are written using curly braces {}, with keys and values separated by a colon.
   - **Example**

In [ ]:
student = {"name": "Ali", "age": 18}
print(student["name"])  # Output: Ali

Ali

###Q5. Why might you use a set instead of a list in Python?
   You might use a set instead of a list in Python when you need to store unique values and don’t care about keeping the order of items. Sets automatically remove duplicates, so they’re useful when you want to eliminate repeated entries without writing extra code. They also allow faster checks to see if an item exists in the collection compared to lists. This makes sets a better choice for tasks like filtering unique data or performing operations like finding common elements between two groups.

###Q6. What is a string in Python, and how is it different from a list?
  - **Definition:** A string in Python is a sequence of characters, like "hello". It is immutable, meaning you can’t change its characters once it’s created.
A list is a collection of items (like numbers or strings) and is mutable, so you can add, remove, or change elements.

 - **For example:** string = "hello", list_example = ["h", "e", "l", "l", "o"]
So, strings are used for text, and lists can hold many types of data and be modified.

###7. How do tuples ensure data integrity in Python?
 - Tuples are **immutable** (cannot be changed after creation).

 - This helps prevent **accidental changes** to data.

 - They are useful when you want to store **fixed or constant values**.

 - Helps keep the data **safe and consistent** throughout the program.

###Q8.What is a hash table, and how does it relate to dictionaries in Python?
 - A **hash table** is a data structure that stores data using a key-value system.

 - It uses a **hash function** to convert keys into unique indexes.

 - In Python, **dictionaries** are built using hash tables internally.

 - This allows for **fast access**, insertion, and deletion of values using keys.

 - Keys must be **unique and hashable** (like strings, numbers, or tuples).

###Q9. Can lists contain different data types in Python?
 - Yes, lists in Python can hold items of **different data types**.

 - A single list can contain **integers, strings, floats, booleans**, or even other lists.

 - This makes lists very **flexible** and useful for storing mixed data.

###Q10. Explain why strings are immutable in Python?
 - **Strings are immutable**, meaning they **cannot be changed** after they are created.

 - This means any operation that modifies a string actually **creates a new string**.

 - It helps make programs more **safe and predictable**, especially when strings are shared across different parts of the code.

 - Immutability also allows strings to be used as **keys in dictionaries**.


###Q11. What advantages do dictionaries offer over lists for certain tasks?
 - **Advantages of dictionaries over lists:**

 - **Faster lookups:** Dictionaries allow quick access to values using keys, while lists may require looping through elements.

 - **Key-value pairing:** Useful for storing related data (e.g., names and scores) in a way that's easy to read and manage.

 - **No need to remember indexes:** You can access data using meaningful keys instead of numeric positions.

 - **Flexible data storage:** Dictionaries can hold different data types as keys and values.

 - **Easier data updates:** Updating a value in a dictionary is simple and direct using the key.

###Q12. Describe a scenario where using a tuple would be preferable over a list?
   A tuple would be preferable over a list when you want to store a fixed set of values that shouldn’t change.
  
  -  For example, if you’re working with the coordinates of a point on a graph, like (x, y), a tuple is a good choice because those values represent a single item and aren’t meant to be modified. Tuples also use less memory and can be slightly faster than lists, which makes them useful for storing constant data.

###Q13. How do sets handle duplicate values in Python?
   In Python, sets do not allow duplicate values. If you try to add the same value more than once, the set will only keep one copy of it. This means any duplicates are automatically removed, and only unique items are stored. This behavior makes sets especially useful when you need to filter out repeated elements from a list or any other collection.

###Q14. How does the “in” keyword work differently for lists and dictionaries?
   The in keyword works differently for lists and dictionaries in Python. When used with a **list**, it checks whether a specific value exists within the list. The in keyword searches through the list to find the value. However, when used with a **dictionary**, it checks whether a specific **key** exists in the dictionary. The in keyword does not check the values; it only looks for the presence of the key.

###Q15. Can you modify the elements of a tuple? Explain why or why not?
   No, you cannot modify the elements of a tuple in Python. Tuples are **immutable**, which means that once a tuple is created, its contents cannot be changed, added, or removed. This immutability is a core feature of tuples, and it is designed to make them reliable for storing data that should not be altered accidentally.

   The key reason behind this immutability is that tuples are typically used to represent fixed collections of data. For example, they are often used to store coordinates or constant values that should remain unchanged throughout the program. The immutability also allows tuples to be used as keys in dictionaries, unlike lists, which are mutable and cannot be used as dictionary keys.

   If you need to modify the elements of a tuple, you would need to create a new tuple by combining existing tuples or altering the data in some other way. This feature of tuples makes them memory efficient and provides a guarantee that their data will remain constant once created.

###Q16. What is a nested dictionary, and give an example of its use case?
A **nested dictionary** is a dictionary where one or more of its values are themselves dictionaries. This allows you to create complex data structures, like storing multiple sets of related data in a single dictionary. Each "inner" dictionary can be accessed using keys, making it possible to organize and retrieve data in a structured way.

 - **Use case:**

  A common use case for a nested dictionary is storing data like student records in a school system. For example, you could use a nested dictionary to store a list of students, where each student has their own set of attributes such as age, grade, and test scores.

 - **Example:**

In [ ]:
# Example of a nested dictionary with student records
students = {
    "Alice": {"age": 15, "grade": "10th", "scores": {"math": 95, "science": 89}},
    "Bob": {"age": 16, "grade": "11th", "scores": {"math": 88, "science": 92}},
    "Charlie": {"age": 14, "grade": "9th", "scores": {"math": 78, "science": 85}}
}

# Accessing Alice's math score
print(students["Alice"]["scores"]["math"])  # Output: 95

95

###Q17. Describe the time complexity of accessing elements in a dictionary?
Accessing elements in a dictionary in Python has an average time complexity of **O(1)**, which means it takes constant time regardless of the size of the dictionary. This efficiency is due to the underlying **hash table** implementation of dictionaries. When you access a value using a key, Python uses the hash of that key to quickly find the corresponding value without searching through all elements.

However, in rare cases where there are **hash collisions**, the time complexity can degrade to **O(n)** in the worst case, where n is the number of elements in the dictionary. But in practice, Python's hash function and collision-handling mechanisms make such cases uncommon, so dictionary access is considered very efficient for most use cases.

###Q18. In what situations are lists preferred over dictionaries?
**Lists** are preferred over dictionaries when the order of elements matters or when you simply need to store a collection of items without needing to associate them with unique keys. Lists are ideal for **sequential data**, where each element is accessed by its position (index), such as when you're iterating through items, storing a to-do list, or working with ordered datasets like time series.

They are also easier to use when the data is relatively simple and doesn't require labeled access. For example, storing the names of students in a class or a list of numbers for a calculation would be more straightforward with a list. Additionally, lists preserve insertion order and support duplicate values, which can be important in certain use cases.

###19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries were traditionally considered unordered because they did not maintain the order in which key-value pairs were added. In older versions of Python (before 3.7), the order of items in a dictionary was not guaranteed, meaning if you inserted items in a certain sequence, that order might not be preserved when accessing or iterating over the dictionary.

However, starting with Python 3.7 and officially in Python 3.8, dictionaries **do maintain insertion order**. This means items will come out in the same order you added them when looping through the dictionary. Despite this, dictionaries are still primarily designed for **fast key-based access**, not for ordered operations like lists.

The concept of being “unordered” originally affected how you retrieved or displayed data—you couldn't rely on the order of items. Today, while you can rely on insertion order for iteration, you still **access values by key**, not by position, which is the main difference compared to ordered structures like lists.

###Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
The main difference between a **list** and a **dictionary** in terms of data retrieval lies in how the data is accessed. In a **list**, elements are retrieved using **integer indexes** that represent their position in the sequence, starting from 0. This means you have to know or loop through the position of the item to access it. In contrast, a **dictionary** retrieves data using **unique keys** that are assigned to each value, allowing you to access specific information directly without knowing its position. This makes dictionaries faster and more efficient for retrieving values when you know the key, while lists are better suited for ordered collections where position matters.

#**PRACTICAL QUESTIONS ON DATA TYPES AND STRUCTURES.**

###Q1. Write a code to create a string with your name and print it.

In [ ]:
# Creating a string with my name and printing it
name = "Ankita Thapa"  # Replace with your name
print(name)

Ankita Thapa

###Q2.  Write a code to find the length of the string "Hello World".

In [ ]:
# Finding the length of the string "Hello World"
string = "Hello World"
length = len(string)  # Using the len() function to get the length
print("Length of the string is:", length)

Length of the string is: 11

###Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
# Slicing the first 3 characters from the string "Python Programming"
string = "Python Programming"
sliced_string = string[:3]  # Slicing the string to get the first 3 characters
print("Sliced string is:", sliced_string)

Sliced string is: Pyt

###Q4. Write a code to convert the string "hello" to uppercase.

In [ ]:
# Converting the string "hello" to uppercase
string = "hello"
uppercase_string = string.upper()  # Using the upper() method to convert to uppercase
print("Uppercase string is:", uppercase_string)

Uppercase string is: HELLO

###Q5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
# Replacing the word "apple" with "orange" in the string
string = "I like apple"
modified_string = string.replace("apple", "orange")  # Using the replace() method
print("Modified string is:", modified_string)

Modified string is: I like orange

###Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Creating a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

###Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
# Appending the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)  # Using the append() method to add 10 to the list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

###Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
# Removing the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)  # Using the remove() method to remove the first occurrence of 3
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

###Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].#

In [ ]:
# Accessing the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]  # List indexing starts at 0, so index 1 refers to the second element
print("Second element is:", second_element)

Second element is: b

###Q10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# Reversing the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()  # Using the reverse() method to reverse the list in place
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

###Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# Creating a tuple with the elements 100, 200, 300
my_tuple = (100, 200, 300)

# Printing the tuple
print("Tuple is:", my_tuple)

Tuple is: (100, 200, 300)

###Q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# Tuple with colors
colors = ('red', 'green', 'blue', 'yellow')

# Accessing the second-to-last element
second_to_last = colors[-2]  # Negative indexing starts from the end, so -2 refers to the second-to-last element
print("Second-to-last element is:", second_to_last)

Second-to-last element is: blue

###Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
# Tuple with numbers
numbers = (10, 20, 5, 15)

# Finding the minimum number using the min() function
min_number = min(numbers)

# Printing the minimum number
print("Minimum number is:", min_number)

Minimum number is: 5

###Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
# Tuple with animals
animals = ('dog', 'cat', 'rabbit')

# Finding the index of the element "cat"
index_of_cat = animals.index('cat')

# Printing the index of "cat"
print("Index of 'cat' is:", index_of_cat)

Index of 'cat' is: 1

###Q15.  Write a code to create a tuple containing three different fruits and check if "kiwi".

In [ ]:
# Creating a tuple with fruits
fruits = ("apple", "banana", "orange")

# Checking if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

###Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
# Creating a set with elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

# Printing the set
print("Set is:", my_set)

Set is: {'b', 'c', 'a'}

###Q17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
# Creating a set with elements
numbers = {1, 2, 3, 4, 5}

# Clearing all elements from the set
numbers.clear()

# Printing the cleared set
print("Set after clearing:", numbers)

Set after clearing: set()

###Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
# Creating a set with elements
numbers = {1, 2, 3, 4}

# Removing the element 4 from the set
numbers.remove(4)

# Printing the updated set
print("Set after removing 4:", numbers)

Set after removing 4: {1, 2, 3}

###Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
# Defining two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Finding the union of the two sets
union_set = set1.union(set2)

# Printing the result
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

###Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
# Defining two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Finding the intersection of the two sets
intersection_set = set1.intersection(set2)

# Printing the result
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

###Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
# Creating a dictionary with keys "name", "age", and "city"
person = {
    "name": "sahil",
    "age": 23,
    "city": "New York"
}

# Printing the dictionary
print("Dictionary:", person)

Dictionary: {'name': 'sahil', 'age': 23, 'city': 'New York'}

###Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
# Existing dictionary
person = {'name': 'John', 'age': 25}

# Adding a new key-value pair
person['country'] = 'USA'

# Printing the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

###Q23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
# Defining the dictionary
person = {'name': 'Alice', 'age': 30}

# Accessing the value for the key "name"
name_value = person['name']

# Printing the value
print("Value associated with 'name':", name_value)

Value associated with 'name': Alice

###Q24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
# Creating the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Removing the key "age"
del person['age']

# Printing the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

###Q25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
# Creating the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Checking if the key "city" exists in the dictionary
if "city" in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

###Q26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Printing the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

###Q27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(Replaced)

In [ ]:
import random

# Creating a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sorting the list in ascending order
random_numbers.sort()

# Printing the sorted list
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [33, 53, 58, 76, 86]

###Q28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
# Creating a list with strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Accessing the element at the third index (indexing starts at 0)
third_element = string_list[3]

# Printing the element at the third index
print("Element at the third index:", third_element)

Element at the third index: date

###Q29.  Write a code to combine two dictionaries into one and print the result.

In [ ]:
# Defining two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'job': 'Engineer'}

# Combining the two dictionaries using the update() method
dict1.update(dict2)

# Printing the combined dictionary
print("Combined dictionary:", dict1)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer'}

###Q30. Write a code to convert a list of strings into a set.

In [ ]:
# Let's say we have a list of strings representing different types of animals
animal_list = ["dog", "cat", "rabbit", "dog", "elephant"]

# Converting this list into a set to remove duplicates
animal_set = set(animal_list)

# Printing the resulting set
print("Converted set:", animal_set)

Converted set: {'cat', 'dog', 'rabbit', 'elephant'}